{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Merchex - Gestion de groupes</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    </head>
    <body>

        <nav>
            <a href="{% url 'band-list' %}">Groupes</a>
            <a href="{% url 'band-create' %}">Ajouter un groupe</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

    </body>
</html>